.weatherProject {
  border: 2px solid #939aa9;
  box-shadow: 4px 4px 3px #939aa9;
  margin: 60px auto;
  max-width: 750px;
  padding: 25px 25px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
}
input {
  text-align: left;
  margin: 0px;
  border: 2px solid #939aa9;
  color: #127fce;
  background: rgb(218, 216, 216);
  opacity: 1;
  border-radius: 3px;
  width: 302px;
}
button {
  text-align: center;
  margin: 0px 0px 0px 4px;
  padding: 1px 10px 1px 10px;
  background: transparent;
  border: 2px solid #939aa9;
  border-radius: 3px;
}
.fa-search {
  color: #127fce;
  font-size: 20px;
}
.fa-map-marker-alt {
  color: #127fce;
  font-size: 20px;
}
.appName {
  text-align: center;
  margin: 0px 0px 0px -12px;
  color: #127fce;
  font-size: 22px;
  padding: 0px 20px;
  border: 2px solid #127fce;
  border-radius: 5px;
  background: rgb(199, 198, 198);
}
h1,
h3 {
  color: #127fce;
}
a {
  color: #127fce;
}
.cities a {
  color: #127fce;
  font-size: 15px;
  font-weight: 550;
  margin: 4px 14px 0px 0px;
  text-align: center;
}
.lineDivider {
  border-top: 3px solid #127fce;
  opacity: 0.4;
}
p {
  color: #127fce;
  font-size: 15px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
}
.city h1 {
  text-align: center;
  margin: 0px;
  color: #127fce;
  font-size: 40px;
  font-weight: 600;
}
.weatherIcon img {
  height: 120px;
  width: 120px;
  margin: -15px 0px 0px 30px;
}
.weatherTemperature {
  text-align: left;
  color: #127fce;
  font-size: 40px;
  margin: -5px 0px 0px 10px;
  font-weight: 600;
}
.weatherUnit {
  color: #127fce;
  font-weight: 100;
  font-size: 17px;
  position: relative;
  top: -16px;
}
.weatherTemperature .active {
  color: #127fce;
  font-weight: 900;
  font-size: 17px;
  position: relative;
  top: 0px;
  cursor: default;
}
.weatherTemperature .active:hover {
  text-decoration: none;
}
.weatherData ul {
  list-style-type: none;
  margin: 17px 0px 0px 13px;
  padding: 0px;
  color: #127fce;
  font-size: 15px;
  line-height: 19px;
}
.illustration img {
  margin: 6px 0px 0px 0px;
  width: 283px;
  display: inline-block;
  border: 2px solid #127fce;
  border-radius: 5px;
}
.identification {
  text-align: right;
  margin: 40px 0px 0px 0px;
  font-size: 12px;
  color: rgb(114, 111, 111);
}
.githubRepo {
  color: #127fce;
}
.author a {
  color: #127fce;
}
